.App {
  text-align: center;
}

.counter {
  display: flex;
  flex-direction: column;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.counter-text {
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.counter-button-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.counter-button {
  width: 50px;
  height: 40px;
  margin: 1rem;
}
